MONGO_URL="mongodb://localhost:27017"
DB_NAME="exauce_site"
CORS_ORIGINS="*"
JWT_SECRET="remplacez-par-une-cle-hexadecimale-de-64-caracteres"
ADMIN_EMAIL="admin@exemple.com"
ADMIN_PASSWORD="choisissez-un-mot-de-passe-fort"
FRONTEND_URL="http://localhost:3000"
EMERGENT_LLM_KEY="votre-cle-emergent"
